@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import "mixin";

$mainColor: #4CAF50;
$subColor: #A5D6A7;
$mainFontColor: #004D40;
$subFontColor: #546E7A;
$fontColor: #fff;

.mainColor {
    color: $mainColor;
}

.subColor {
    color: $subColor;
}

.mainFontColor {
    color: $mainFontColor;
}

.subFontColor {
    color: $subFontColor;
}

html,
body {
    line-height: 1.5;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.banner {
    background-image: url(https://i.imgur.com/FJoP6v6.jpg);
    min-height: 450px;
    @include bgiSetup();

    @include pad() {
        background-image: url(https://i.imgur.com/x16yfqh.jpg);
        min-height: 350px;
    }

    @include phone() {
        background-image: url(https://i.imgur.com/1wZa2pt.jpg);
        min-height: 200px;
    }

    .topic {
        text-align: center;
        position: absolute;
        left: 30%;
        top: 30%;
        padding: 1%;
        background-color: rgba(250, 250, 250, 0.368);

        @include pad {
            top: 18%;
            left: 15%;
            max-width: 800px;
        }

        h3 {
            font-size: 34px;
        }

        p {
            font-size: 24px;
            font-weight: lighter;
        }
    }
}

.advantage {
    .pad-block {
        display: none;
    }

    @include pad {
        p {
            display: none;
        }
    }

    @include phone {
        display: none;
    }
}

.pad-block {
    display: none;

    @include pad {
        display: block;
    }
}

.goods {
    button {
        border: 1px solid $subColor;

        &:hover {
            border: 1px solid $mainColor;
            background: $mainColor;
            font-weight: bold;
            color: $fontColor;
            box-shadow: 0 3px 6px $subColor ;
            transform: scale(1.1);
        }
    }

    @include pad {
        .phone-none {
            display: none;
        }
    }

    .timeline {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            width: 1px;
            transform: translateX(-50%);
            background-color: $subColor;

            @include phone {
                display: none;
            }
        }
    }

    .timeline-pointer {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid $mainColor;
            transform: translateX(-50%);
            background-color: #fff;
            z-index: 1;

            @include phone {
                display: none;
            }
        }
    }
}

.notice {
    background-color: #ecef8c69;

    @include phone {
        p {
            font-size: 18px;
        }
    }

    img {
        max-height: 200px;

        &:hover {
            transform: scale(1.1);
        }

        @include phone {
            max-height: 150px;
        }
    }

    .fa-feather-pointed {
        color: skyblue;
    }

}

.saysomething {
    border-top: 2px dashed $subFontColor;
    .fa-thumbs-up {
        color: #FFECB3;
    }
}

.footer {
    background-color: hsla(122, 37%, 74%, 0.3);

    img {
        max-height: 50px;
    }
}

.gotop {
    transition: all 0.4s ease-in-out 0s;
    position: relative;

    a {
        position: relative;
        padding: 25px auto;
        color: $mainColor;
        font-size: 50px;
        position: fixed;
        bottom: 10px;
        right: 5%;
        display: none;

        &.active {
            display: block;
        }
    }
}